PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/sweet_pricing
JWT_SECRET=troque-por-um-segredo-forte-e-aleatorio
DOCEPRECO_ADMIN_SECRET=troque-por-um-segredo-do-painel-admin
REVENUECAT_WEBHOOK_SECRET=troque-pelo-segredo-do-webhook-do-revenuecat
STRIPE_SECRET_KEY=rk_test_51Teh4p372WY0hGPGhZJl23WupoJD8n7wxIUL5UCd5vGGyO7eAfZgNWsQyLTIrJCjhjEnumGTUB6cb2gBrrMxh2Np00QF4BXDnA
STRIPE_WEBHOOK_SECRET=sk_test_51Teh4p372WY0hGPG0tuP2jPqWL55QFtOHdM52LgTru5Yg5Xv2bV2fm5cNLOjStPMTGfVpbRC1zFemUAX8gkaPd6i00MDOBItFw
APP_BASE_URL=https://docepreco.onrender.com
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
TELEGRAM_BOT_TOKEN=0000000000:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TELEGRAM_CHAT_ID=0000000000
